stylegan/network-snapshot-007961.pkl
stylegan/MichaelFriese10_pokemon.pkl
stylegan/kaggle-one-shot-pokemon/
stylegan/pokemon/
stylegan/results/
stylegan/datasets/

img/pokemon.png
img/pokemon*.png

__pycache__/


.vscode/
.ipynb_checkpoints/